<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="{{cookiecutter.package_name}}" level="DEBUG"/>

    <springProfile name="dev">
        <logger name="{{cookiecutter.package_name}}" level="TRACE"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>